// Variables 

// Color variables
$blue-500: hsl(199, 100%, 37%);
$blue-100: hsl(213, 31%, 94%);
$blue-200: hsl(199, 88%, 48%);
$light-white: hsla(0, 0%, 99.5%, 1);
$white: hsl(0, 0%, 100%);
$gray-200: hsl(0, 0%, 74%);
$gray-300: hsl(0, 0%, 51%);
$gray-500: hsl(0, 0%, 20%);
$light-red: hsl(0, 100%, 73%);

// Width variable
$max-w-xl: 646px;
$max-w-md: 446px;
$container: 980px;
$w-full: 100%;

// radiuses
$rounded-sm: 4px;
$rounded-md: 6px;

// Spacing
$space-y-6: 12px;
$space-y-10: 20px;
$space-y-15: 30px;
$space-y-21: 42px;

// Padding
$py-21: 42px;
$py-5: 10px;
$py-6: 12px;
$px-12: 24px;

