// Typography
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

//Font Family 
$font-sans: "Barlow";


// Font sizes
$text-xs: 10px;
$text-sm: 12px;
$text-md: 14px;
$text-lg: 16px;
$text-xl: 32px;

//Font weight
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;


