// Typography

@import '../base/';
@import '../abstract/';

section {
    width: 100%;
    padding-inline: 24px;

    .gestion {
        width: 100%;
        background-color: $light-white;
        box-shadow: 0px 12px 100px 0px rgba(0, 0, 0, 0.05);
        border-radius: $rounded-md;
        padding: 35.5px;
        transform: translateY(-90.5px);

        &__heading {
            span {
                display: inline-block;
                margin-top: $space-y-6;
                color: $light-red;
                padding-right: 6rem;
            }
        }

        &__form-section {
            margin-top: $space-y-15;
        }
    }
}

