@import '../abstract/';
@import '../base/';

button {
    outline: none;
    border: none;
    width: $w-full;
    height: 48px;
    
    border-radius: $rounded-sm;
    background-color: $blue-500;
    color: $white;
    font-weight: $font-bold;
    font-size: $text-lg;
    letter-spacing: 2px;

    margin-top: $space-y-15;
}